fastapi
uvicorn[standard]
pydantic-settings
google-api-python-client
google-auth
python-dateutil
pydantic
pyjwt[crypto]
passlib[bcrypt]
python-multipart
email-validator
httpx
fastapi-limiter==0.1.5
redis
sqlmodel
python-dotenv
email-validator
asyncpg
aiosqlite
psutil==7.2.2
sendgrid==6.12.5
